<!DOCTYPE html>
<html>
  <head>
    <title>Tamagotchi App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

      <div id="container">
        <form method="post", action="/exit">
          <h1>YOUR PET IS DEAD<h1>
          <h2>You could not stand the complexity of the game</h2>
        </form>
      </div>

  </body>
</html>