<!DOCTYPE html>
<html>
  <head>
    <title>Tamagotchi App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

      <div id="container">
        <form method="post", action="/initialize">
          <label for="name">Enter the name: </label>
          <input name="name" type="text">
          <input type="submit" value="Create my pet">
        </form>
      </div>

  </body>
</html>